{{ define "main" }}
  {{ partial "page-header" . }}


  <!-- Gallery -->
  {{ with site.GetPage "sections/gallery" }}

    <section class="section">
      <div class="container">
        <div class="row">
          {{ .Content }}
        </div>
        <div class="row">
          <div class="md:col-10 lg:col-8 xl:col-6 mx-auto mb-12 text-center">
            <h2 class="mb-4">
              {{ .Params.title | markdownify }}
            </h2>
            
              {{ .Params.content | markdownify }}
          </div>
          <div class="col-12">
            <div class="swiper testimonial-slider">
              <div class="swiper-wrapper">
                {{ range .Params.images }}
                 {{ if not .draft }}
                  <div class="swiper-slide">
                    <div
                      class="bg-theme-light dark:bg-darkmode-theme-light rounded-lg px-7 py-10">
                      <div class="text-dark dark:text-white">
                        {{ partial "image" (dict "Src" .image "Alt" .name) }}
  
                      </div>
                      <blockquote class="mt-8">
                        {{ .content | markdownify }}
                      </blockquote>
                      <div class="mt-11 flex items-center">
                        <div class="text-dark dark:text-white">
                        </div>
                        <div class="ml-4">
                          <h3 class="h5 font-primary font-semibold">
                            {{ .name }}
                          </h3>
                          <p class="text-dark dark:text-white">
                            {{ .breed | markdownify }}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  {{ end }}
                {{ end }}
              </div>
              <div
                class="testimonial-slider-pagination mt-9 flex items-center justify-center text-center"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
  {{ end }}
{{ end }}
